.selecterType {
  display: inline-block;
  margin-left: 1.5em;
  margin-top: 1em;
  padding: 0.4em 1em;
  padding-right: 3em;
}

@media screen and (min-width: 700px) {
  .selecterType {
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;
    padding: 0.4em 2em;
    padding-right: 5em;
  }
}
